@import './fonts.css';
@import './tooltip.css';
@import './prism.css';

body, h1 {
  margin: 0px;
  padding: 0px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: .875rem;
}

pre {
  margin: 0px;
}

.nav {
  text-align: center;
  margin-top: 20px;
}

.js-engine {
  display: grid;
  grid-gap: 20px;
  box-sizing: border-box;
  grid-template-rows: 150px 50px 34px 150px;
  grid-template-columns: 45% 23% 1fr;
  grid-template-areas:  "code call memory"
                        "code call memory"
                        "code event api"
                        "code queue api"
                        "log anotacao anotacao";
}

.js-engine > section {
  overflow-y: scroll;
}

.js-engine > section.event,
.js-engine > section.code,
.js-engine > section.html-nav {
  overflow: hidden;
}

.js-engine > section::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #EEE;
  border-radius: 4px;
}

.js-engine > section.code pre::-webkit-scrollbar,
.js-engine > section.html::-webkit-scrollbar,
.js-engine > section.html pre::-webkit-scrollbar,
.js-engine > section.log::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #222;
  border-radius: 4px;
}

.js-engine > section.code pre::-webkit-scrollbar-corner,
.js-engine > section.html::-webkit-scrollbar-corner,
.js-engine > section.html pre::-webkit-scrollbar-corner,
.js-engine > section.log::-webkit-scrollbar-corner {
	background-color: #222;
}

.js-engine > section.code pre::-webkit-scrollbar-thumb, 
.js-engine > section.html::-webkit-scrollbar-thumb,
.js-engine > section.html pre::-webkit-scrollbar-thumb,
.js-engine > section.code::-webkit-scrollbar-thumb {
  background: #777;
  border: 3px solid #222;
  border-radius: 4px;
}

.js-engine > section::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border: 3px solid #EEE;
  border-radius: 4px;
}

.js-engine > section::-webkit-scrollbar-corner {
  background: #EEE;
}

.code {
  grid-area: code;
}

.call {
  grid-area: call;
}

.memory {
  grid-area: memory;
}

.event {
  grid-area: event;
}

.queue {
  grid-area: queue;
}

.api {
  grid-area: api;
}

.log {
  grid-area: log;
}

section {
  border-radius: 2px;
  padding: .875rem;
  display: flex;
  flex-direction: column;
}

.content span {
  display: inline-block;
  padding: .5rem;
  border-radius: 4px;
  margin-bottom: .5rem;
}

.closure {
  overflow: hidden;
}

.closure span:first-child {
  margin-left: 0px;
}

.closure span:first-child::before {
  display: none;
}

.closure span {
  position: relative;
}

.closure span::before {
  content: '';
  width: 2px;
  height: 38px;
  position: absolute;
  z-index: 200;
  top: -10px;
  left: -10px;
  border-left: dotted 1px rgba(0,0,0,.5);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.call .content {
  margin-top: auto;
}

.closure span {
  display: flex;
  float: left; 
  clear: left;
  margin-left: 20px;
  margin-bottom: .5rem;
}

.content div {
  margin-bottom: 1.2rem;
}

.call, .queue, .api, .memory {
  background: #EEE;
  box-shadow: 1px 1px 0 1px rgba(0,0,0,.1);
}

h1 {
  font-weight: normal;
  color: #445;
  font-size: .875rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.func {
  background: #fc3;
  color: #222;
}

.str {
  background: #555;
  color: #fff;
}

.dom {
  background: #555;
  color: #fff;
}

.evt {
  background: #B1E;
  color: #fff;
  position: relative;
}

.evt.time::before {
  display: block;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 4px solid #B1E;
  border-left: 4px solid #d8d8d8;
  background: #d8d8d8;
  border-radius: 50%;
  top: -5px;
  left: -5px;
  animation: time 1s forwards 5 linear;
}

@keyframes time {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.api-link span {
  position: relative;
  padding: .5rem 1rem;
}

.api-link span::after {
  display: inline-block;
  content: '';
  height: 4px;
  top: 15px;
  right: -14px;
  width: 20px;
  position: absolute;
  background: #555;
  z-index: 200;
}

.api-link span:last-child {
  padding-right: .5rem;
}

.api-link span:last-child::after {
  display: none;
}

.event, .code {
  padding: 0px;
}

.event div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.event span {
  background: #B1E;
  color: white;
  padding: .5rem;
  border-radius: 2px;
  margin-right: 10px;
}

.event svg g {
  stroke: #B1E;
  stroke-width: 2px;
}

.code {
  background: #222;
}

[data-anime] {
  animation: slide .5s forwards;
}

[data-remove] {
  animation: slide-out .5s forwards;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  99% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
}

.animate svg {
  animation: time 2s reverse infinite linear;
}

[data-update] {
  position: relative;
}

[data-update]::after {
  display: block;
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: greenyellow;
  border-radius: 50%;
  top: -4px;
  right: -4px;
  border: 2px solid black;
  transition: .3s;
  animation: show-update .3s forwards, update 1.2s alternate infinite linear;
}

@keyframes show-update {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    transform-origin: center;
  }
}

@keyframes update {
  from {
    background: black;
  }
  to {
    background: #6D6;
  }
}

.log {
  background: #222;
}

.log h1 {
  color: #fff;
}

.log .content {
  color: #6D6;
  counter-reset: span;
}

.log .content span {
  display: block;
  padding: 0px;
  margin-bottom: .5rem;
}

.log .content span::before {
  counter-increment: span;
  content: counter(span) ' ';
  opacity: .5;
}

.html {
  grid-area: log;
  background: #222;
  padding: 0px;
}

.anotacao {
  grid-area: anotacao;
  overflow: hidden !important;
  min-height: 120px;
  position: relative;
}

.nav {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-content: center;
}

.anterior, .proximo {
  background: #e5e5e5 url('../img/arrow.svg') center center no-repeat;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.anterior:hover, .proximo:hover, .anterior:focus, .proximo:focus {
  background: #6D6 url('../img/arrow.svg') center center no-repeat;
  cursor: pointer;
  outline: none;
}

.proximo {
  transform: rotate(180deg);
}

.etapa {
  background: #eeeeee;
  color: #222;
  padding: .7rem 1rem 0 1rem;
  font-weight: bold;
}

.link-exemplos {
  padding: 15px;
}

.link-exemplos h2 {
  font-size: .875rem;
  margin-top: 0px;
  margin-bottom: .5rem;
}

.link-exemplos ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link-exemplos a {
  display: block;
  background: #eeeeee;
  padding: .4rem .8rem;
  border-radius: 2px;
  color: black;
  text-decoration: none;
  margin-right: 15px;
  font-size: .875rem;
}

.link-exemplos a.active, .link-exemplos a:hover {
  background: #ffc75f;
}

.html-nav {
  grid-area: log;
  position: relative;
  height: 25px;
}

.html-nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.html-nav a {
  background: #aaa;
  padding: .5rem;
  display: block;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.html-nav a.active, .html-nav a:hover {
  background: #eee;
}

.js-tabcontent {
  display: none;
}

.js-tabcontent.active {
  display: block;
}